@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '../scss/_partials/header.scss';


.side-bar-links{

    & > a{
        padding: .5em;
        color: black;
        text-decoration: none;
        cursor: pointer;
        transition: all 300ms;

        &:hover{
            background-color: #ff5a60;
            color: white;
            transition: all 300ms;
            border-radius: 5px;
            transform: translateX(10px);
        }
    }
}

.navbar-brand{
    img{

        transition: all 500ms;
    }

    img:hover{
        transition: all 300ms;
        transform: scale(1.2);
    }
}

.our-btn-header{
    transition: all 300ms;
    border-radius: 10px;
    
    color: white;
    background-color: #ff5a60;
    &:hover{
        color: #ff5a60;
        background-color: white;
        transition: all 300ms;
        }
}

.our-btn{
    transition: all 300ms;
    border-radius: 10px;
    color: #ff5a60;
    background-color: white;
    
    &:hover{
        color: white;
        background-color: #ff5a60;
        transition: all 300ms;
        }
}


i{
    transition: 300ms;

    &:hover{
        transform: scale(1.3);
        transition: 300ms;

    }
}



.form-control:focus{
    border: 1px solid #ff5a60 !important;
    transition: all 200ms;
    box-shadow: 0 0 0 0.05rem #ff5a60;
}

// #img-index-td {
//     width: 40% !important;

//     img {
//         max-width: 80% !important;
//     }
// }

#address-input-div{


    @media screen and (min-width: 768px) {
    width: 80% !important;
        
    }
}

.city-country-input-div{
    @media screen and (min-width: 768px) {
        width: 50% !important;
            
        }
}

#services-input-div{
    @media screen and (min-width: 768px) {
        
        
        
        height: 250px !important;
            
        }
    
}


tr{
    transition: all 300ms;
    &:hover:not(:first-child){
        transition: all 300ms;
        transform: scale(1.02);
        z-index: 9;
        border-bottom: 3px solid #ff5a60;
        box-shadow: 0px 10px 10px #827b7b ;
       
    }
}

.cards-container{
   
gap: 1em .5em;
    .estate-card{
        border: 1px solid #c1baba;
        border-radius: 15px;
        overflow: hidden;
        width: calc(100% / 1 - .25em) !important;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        .estate-img{
            width: 100%;
            img{
            width: 100%;
                max-width: 100%;
                object-fit: cover;
            }
        }

        .estate-txt
        {
            background-color: #fff;
            padding: .5em;
            display: flex;
            direction: row;
            justify-content: space-between;

            p{
                margin-bottom: .1em !important;
            }
        }
    
        transition: all 300ms;
        &:hover{
            transition: all 300ms;
            transform: scale(1.1);
            z-index: 9;
            border-bottom: 3px solid #ff5a60;
            box-shadow: 0px 10px 10px #827b7b;
            z-index: 99;
           
           
        }
        @media screen and (min-width: 500px) {
            width: calc(100% / 2 - .5em) !important;
            }
        @media screen and (min-width: 800px) {
            width: calc(100% / 3 - .5em) !important;
            }
        @media screen and (min-width: 1200px) {
            width: calc(100% / 4 - .5em) !important;
            }
    }
    

}

#cover-img{
    box-shadow: 10px 10px 20px 10px #ccc9c9;


}

#img-show-div{
    gap: .5em;
    width: 100%;
    // border: 1px solid #ff5a60;
    padding: .3em ;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 10px #ccc9c9;
}


.optional-img-show{
    width: calc(100% / 2 - .25em) !important;
    border-radius: 0px 0px 20px 20px;

    @media screen and (min-width: 700px) {
        
        
        
        width: calc(100% / 4 - .5em) !important;
            border-radius: 10px !important;
        }
}
.optional-img-show:nth-last-child(3), .optional-img-show:nth-last-child(4){
    border-radius: 10px 10px 0px 0px;

}
#optional-imgs-div{
    gap: .5em;}

p > span{
    font-weight: bold;
}

h4{
    color: #ff5a60;
}
#info-wrapper{
    margin-bottom: 2em;
    border-bottom: 1px solid rgb(231, 222, 222);
}